[submodule "zsh-vi-mode"]
	path = zsh-vi-mode
	url = https://github.com/jeffreytse/zsh-vi-mode.git
[submodule "powerlevel10k"]
	path = powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "zsh-hist"]
	path = zsh-hist
	url = https://github.com/marlonrichert/zsh-hist
[submodule "NvChad"]
	path = NvChad
	url = https://github.com/NvChad/NvChad
[submodule "zsh-autosuggestions"]
	path = zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "nix-zsh-completions"]
	path = nix-zsh-completions
	url = https://github.com/nix-community/nix-zsh-completions.git
